<!doctype html>
<html>
<head>
  <title>GCP Oauth -- Authentication and Authorization</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Welcome Page</h1>

  <h2>Login</h2>
  <div class="container">
    <button onclick="showOAuth()">OAuth Account</button>
    <button onclick="logout()">Logout</button>
  </div>

  <label>User JWT:<p id = "buttonResponse">{{ buttonResponse }}</p></label>

</body>
</html>